

<div *ngIf="!isLoggedIn">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My App</span>
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button style="margin-left: 1rem;">
      Sign In
    </button>
    <button mat-icon-button style="margin-left: 1rem;">
      Sign Up
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>
  <div class="container">
    <mat-tab-group style="margin-top: 1rem;">
      <mat-tab label="Sign-In">
        <app-sign-in></app-sign-in>
        </mat-tab>
      <mat-tab label="Sign-Up">
        <app-sign-up></app-sign-up>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


<div *ngIf="isLoggedIn">
<nav mat-tab-nav-bar [backgroundColor]="background" >
  <a mat-tab-link
  routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/">
  Anasayfa
</a>
<a mat-tab-link
routerLinkActive #rlb="routerLinkActive" [active]="rlb.isActive"  routerLink="/my-account">
Hesabim
</a> 
<a mat-tab-link 
routerLinkActive #rlc="routerLinkActive" [active]="rlc.isActive"  [(routerLink)]="'/my-place/'+userIdForPlace">
Ilanim
</a>
<!-- <a mat-tab-link *ngIf="!hasPlace"
routerLinkActive #rlc="routerLinkActive" [active]="rlc.isActive"  routerLink="/my-place">
Ilanim
</a>   -->
<a mat-tab-link
routerLinkActive #rld="routerLinkActive" [active]="rld.isActive"  routerLink="/places">
Ilanlar
</a>
<button mat-raised-button color="accent" style="margin-left: auto;"
color="accent"
(click)="onLogout()"
>
Cikis Yap
</button>

</nav>


<div class="container" style="margin-top: 50px;">
    <router-outlet></router-outlet>
</div>
</div>

