<mat-card>
    <h2>Sehir</h2>
    <h3>{{userCity}}</h3>
    <h2>Universite</h2>
    <h3>{{userUni}}</h3>
<form #SaveUni="ngForm" (submit)="onSaveUniversity(SaveUni)">
<mat-form-field appearance="fill">
  <mat-label>Sehir</mat-label>
  <!-- [(value)]="selectedCity" -->
  <mat-select [(ngModel)]="selectedCity" name="myCity"  #myCity="ngModel" required (selectionChange)="onCityChange()">
    <!-- <mat-option>None</mat-option> -->
    <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="selectedCity">
    <mat-form-field appearance="fill">
        <mat-label>Universite</mat-label>
        <mat-select [(ngModel)]="selectedUniversity" name="myUni"  #myUni="ngModel" required>
          <mat-option *ngFor="let uni of universities[selectedCity]" [value]="uni">{{uni}}</mat-option>
        </mat-select>
      </mat-form-field>
</div>
<button
  mat-raised-button
  [disabled]="!selectedUniversity"
  color="primary"
  style="display:block; margin-left: auto;"
  type="submit">Universiteyi Kaydet</button>
</form>
</mat-card>



<mat-card>
  <h2>Cinsiyet</h2>
  <div>
   
      <mat-radio-group [(ngModel)]="selectedSex" aria-label="Select an option" required>
        <mat-radio-button value="E">Erkek</mat-radio-button>
        <mat-radio-button value="K">Kadin</mat-radio-button>
      </mat-radio-group>

    

  </div>
  <h2>Isim Soyisim</h2>
  <mat-form-field appearance="fill">
    <mat-label>Isim Soyisim</mat-label>
    <input matInput [(ngModel)]="nameSurname">
  </mat-form-field>
<form #SaveDetails="ngForm" (submit)="onSaveUserDetails(SaveDetails)">

<button
mat-raised-button
[disabled]="!selectedSex || !nameSurname"
color="primary"
style="display:block; margin-left: auto;"
type="submit">Detaylari Kaydet</button>
</form>
</mat-card>

