<div *ngIf="!isCitySelected">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="card text-white bg-danger mb-3" style="max-width: 100%;" *ngIf="!isLoading">
      <div class="card-header">Dikkat</div>
      <div class="card-body">
        <h5 class="card-title">Mevcut Universite Bulunamadi</h5>
        <p class="card-text">Yeni bir ilan olusturmak icin universitenizi secin</p>
      </div>
    </div>
    
  </div>

<div *ngIf="isCitySelected">
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="form" (submit)="onSavePlace()" *ngIf="!isLoading">
<mat-form-field appearance="fill" style="width: 50%;">
    <mat-label>Baslik</mat-label>
    <input  formControlName="title"  matInput placeholder="title" name="title" >
    <mat-error *ngIf="form.get('title').invalid">Bir baslik giriniz</mat-error>
</mat-form-field>

<mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Aciklama</mat-label>
    <input formControlName="description"  matInput placeholder="description" name="description">
    <mat-error *ngIf="form.get('description').invalid">Aciklama giriniz</mat-error>
</mat-form-field>
<div>
    <button mat-stroked-button (click)="filePicker.click()" type="button">Resim Ekle</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
</div>
<div *ngFor="let preview of imagePreview">
<div  
class="image-preview" *ngIf="preview !== '' && preview && form.get('image').valid">
    <img [src]="preview" 
    [alt]="preview"
    >
</div>
</div>
<button
mat-raised-button
color="primary"
style="display: block; margin-left: auto; width: 10%;"
type="submit">Ilani Kaydet</button>
<button
mat-raised-button *ngIf="hasPlace"
color="accent"
style="display: block;  margin-top: 1rem; margin-left: auto; width: 10%;"
(click)="onDelete()"
type="button">Ilani Sil</button>
</form>
</mat-card>
</div>